In [1]:
%config IPCompleter.greedy=True

In [2]:
from urllib.request import urlopen, urlretrieve
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [3]:
url = 'https://www.zapimoveis.com.br/venda/casas/sp+guaruja/'



user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36 Edg/91.0.864.59'
                  

headers={'User-Agent':user_agent,} 
request=urllib.request.Request(url,None,headers)

response = urlopen(request)
html = response.read()
soup = BeautifulSoup(html, 'html.parser')

In [4]:
soup = BeautifulSoup(html, 'html.parser')

# Localizando

In [6]:
for item in soup.findAll('p', class_='simple-card__price' ):
    print(item.get_text())

    R$ 134.990


    R$ 222.000


    R$ 975.000


    R$ 17.000.001


    R$ 2.600.000


    R$ 6.000.000


    R$ 388.800


    R$ 215.000


    R$ 300.000


    R$ 2.600.000


    R$ 750.000


    R$ 550.000


    R$ 420.000


    R$ 300.000


    R$ 550.000


    R$ 700.000


    R$ 2.400.000


    R$ 220.000


    R$ 1.000.000


    R$ 650.000


    R$ 2.756.000


    R$ 650.000


    R$ 350.000


    R$ 280.000

In [7]:
anuncio = soup.find('div', {'class':'card-container'})
anuncio.find('p', class_='simple-card__price').get_text().replace('\n','').replace(' ','')

'R$134.990'

In [8]:
infos = anuncio.find('ul', class_='feature__container simple-card__amenities').findAll('li')
for info in infos:
    print(info.get('class')[2].split('-')[-1], ' - ', info.get_text().split()[0])

areas  -  32
bedrooms  -  1
spaces  -  0
bathrooms  -  1

In [9]:
card={}
for info in infos:
    card[info.get('class')[2].split('-')[-1]] = info.get_text().split()[0]
card

{'areas': '32', 'bedrooms': '1', 'spaces': '0', 'bathrooms': '1'}

# Scraping da pagina inteira

In [10]:
cards = []
card = {}

In [11]:
anuncios = soup.find('div', class_='listings__container').findAll('div', class_='card-container')

for anuncio in anuncios:
    card = {}
    
    #acha o valor do imóvel
    card['value'] = anuncio.find('p', class_='simple-card__price').get_text().replace('\n','').replace(' ','')
    
    #acha as características do imóvel
    infos = anuncio.find('ul', class_='feature__container simple-card__amenities').findAll('li')
    for info in infos:
        card[info.get('class')[2].split('-')[-1]] = info.get_text().split()[0]
    
    cards.append(card)

In [12]:
cards

[{'value': 'R$134.990',
  'areas': '32',
  'bedrooms': '1',
  'spaces': '0',
  'bathrooms': '1'},
 {'value': 'R$222.000',
  'areas': '46',
  'bedrooms': '2',
  'spaces': '1',
  'bathrooms': '1'},
 {'value': 'R$975.000',
  'areas': '204',
  'bedrooms': '4',
  'spaces': '2',
  'bathrooms': '4'},
 {'value': 'R$17.000.001',
  'areas': '1900',
  'bedrooms': '8',
  'spaces': '10',
  'bathrooms': '9'},
 {'value': 'R$2.600.000',
  'areas': '421',
  'bedrooms': '5',
  'spaces': '5',
  'bathrooms': '7'},
 {'value': 'R$6.000.000',
  'areas': '680',
  'bedrooms': '5',
  'spaces': '6',
  'bathrooms': '7'},
 {'value': 'R$388.800',
  'areas': '120',
  'bedrooms': '3',
  'spaces': '3',
  'bathrooms': '3'},
 {'value': 'R$215.000',
  'areas': '200',
  'bedrooms': '4',
  'spaces': '3',
  'bathrooms': '5'},
 {'value': 'R$300.000',
  'areas': '170',
  'bedrooms': '3',
  'spaces': '2',
  'bathrooms': '3'},
 {'value': 'R$2.600.000',
  'areas': '592',
  'bedrooms': '4',
  'spaces': '10',
  'bathrooms': '8'},
 {'value': 'R$750.000',
  'areas': '420',
  'bedrooms': '6',
  'spaces': '4',
  'bathrooms': '5'},
 {'value': 'R$550.000', 'areas': '243', 'bedrooms': '4', 'bathrooms': '5'},
 {'value': 'R$420.000',
  'areas': '150',
  'bedrooms': '3',
  'spaces': '4',
  'bathrooms': '3'},
 {'value': 'R$300.000',
  'areas': '100',
  'bedrooms': '3',
  'spaces': '2',
  'bathrooms': '2'},
 {'value': 'R$550.000',
  'areas': '380',
  'bedrooms': '5',
  'spaces': '3',
  'bathrooms': '5'},
 {'value': 'R$700.000',
  'areas': '250',
  'bedrooms': '3',
  'spaces': '4',
  'bathrooms': '3'},
 {'value': 'R$2.400.000',
  'areas': '500',
  'bedrooms': '6',
  'spaces': '8',
  'bathrooms': '8'},
 {'value': 'R$220.000',
  'areas': '55',
  'bedrooms': '2',
  'spaces': '1',
  'bathrooms': '2'},
 {'value': 'R$1.000.000',
  'areas': '360',
  'bedrooms': '5',
  'spaces': '4',
  'bathrooms': '1'},
 {'value': 'R$650.000',
  'areas': '220',
  'bedrooms': '4',
  'spaces': '4',
  'bathrooms': '4'},
 {'value': 'R$2.756.000',
  'areas': '420',
  'bedrooms': '4',
  'spaces': '4',
  'bathrooms': '6'},
 {'value': 'R$650.000',
  'areas': '200',
  'bedrooms': '3',
  'spaces': '2',
  'bathrooms': '3'},
 {'value': 'R$350.000',
  'areas': '125',
  'bedrooms': '3',
  'spaces': '1',
  'bathrooms': '2'},
 {'value': 'R$280.000',
  'areas': '73',
  'bedrooms': '2',
  'spaces': '1',
  'bathrooms': '2'}]

## Agora que temos os anuncios da página 1 inteira vamos para o próximo passo

# Scraping do Site inteiro

In [13]:
cards = []
card = {}

In [14]:
for i in range(70):
    url = 'https://www.zapimoveis.com.br/venda/casas/sp+guaruja/?pagina='+ str(i+1)



    user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36 Edg/91.0.864.59'


    headers={'User-Agent':user_agent,} 
    request=urllib.request.Request(url,None,headers)

    response = urlopen(request)
    html = response.read()
    soup = BeautifulSoup(html, 'html.parser')
    anuncios = soup.find('div', class_='listings__container').findAll('div', class_='card-container')
    
    for anuncio in anuncios:
        card = {}

        card['value'] = anuncio.find('p', class_='simple-card__price').get_text().replace('\n','').replace(' ','')

        infos = anuncio.find('ul', class_='feature__container simple-card__amenities').findAll('li')
        for info in infos:
            card[info.get('class')[2].split('-')[-1]] = info.get_text().split()[0]

        cards.append(card)


#df = pd.DataFrame(cards)

In [16]:
df = pd.DataFrame(cards)
df.head(60)

           value areas bedrooms spaces bathrooms
0      R$134.990    32        1      0         1
1      R$222.000    46        2      1         1
2      R$975.000   204        4      2         4
3    R$2.400.000   363        4      4         4
4    R$2.600.000   421        5      5         7
5    R$1.200.000  1000        5      3         5
6      R$388.800   120        3      3         3
7      R$215.000   200        4      3         5
8      R$300.000   170        3      2         3
9    R$2.600.000   592        4     10         8
10     R$750.000   420        6      4         5
11     R$550.000   243        4    NaN         5
12     R$420.000   150        3      4         3
13     R$300.000   100        3      2         2
14     R$550.000   380        5      3         5
15     R$700.000   250        3      4         3
16   R$2.400.000   500        6      8         8
17     R$220.000    55        2      1         2
18   R$1.000.000   360        5      4         1
19     R$650.000   220        4      4         4
20   R$2.756.000   420        4      4         6
21     R$650.000   200        3      2         3
22     R$350.000   125        3      1         2
23     R$280.000    73        2      1         2
24   R$2.400.000   154        2      2         3
25     R$310.000    81        3      2         2
26     R$375.000    66        2      1         2
27     R$380.000   120        2      1         3
28   R$1.400.000   380        4      4         5
29  R$13.000.001   835        6      6        10
30      R$65.000   350        5      5         2
31     R$330.000    95        2      1         3
32     R$240.000   250        4      2         2
33     R$350.000    75        2      1         2
34     R$250.000    60        3    NaN         3
35     R$350.001    90        2      1         2
36     R$385.000   105        3      2         3
37     R$420.000   144        4      3         3
38     R$430.000   102        3      1         3
39     R$670.000   237        4      4         5
40     R$250.000   105        3    NaN         3
41   R$3.000.000   600        6     10       NaN
42     R$370.000   222        3      2         3
43     R$380.000   120        2      1         3
44     R$400.000   200        3      1         3
45     R$800.000   235        4      6         3
46     R$340.000    79        3      1         1
47     R$530.000    78        2      2         2
48     R$139.900    46        2      2         1
49     R$202.900    47        2      1         1
50     R$538.000   127        3      3         3
51  R$13.000.001   835        6      6        10
52   R$6.500.000   740        5      6         8
53   R$1.500.000   350        6      3         6
54     R$290.000    75        2      1         2
55     R$540.000   230        4      4         3
56     R$375.000    89        2      2         1
57     R$180.000   280        2      1         1
58     R$270.000    80        2      1         1
59     R$220.000    90        2     11         2

## Pequenos tratamentos antes de exportar

In [ ]:
df = df.drop_duplicates()
df['value'] = df['value'].str.strip('R$')
df['value']

In [ ]:
df['value'] = df['value'].str.replace('.','')

In [ ]:
df[['value', 'areas','bedrooms','spaces','bathrooms']] = df[['value', 'areas','bedrooms','spaces','bathrooms']].astype(float)

In [ ]:
df

In [ ]:
df.to_csv('C:/Users/flpss/Documents/DS/Casas_Guaruja.csv', sep=';', index=False, encoding='utf-8-sig')